html{
    width: 100%;
    height: 100%;
    display: flex;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(images/bg.png);
    display: flex;
    margin: 0;
}
#wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    padding: 5%;
    background-image:url(images/wrapperbg.png);
    background-size:contain;
    background-repeat: no-repeat;
    
    height: 400px;
    width: 600px;
    
    
    
    
}

ul{
    list-style-type: none;
    display: block;
    
    
}


li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

h1{
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
p{
    color: white;
    padding: 10px;
}

#muschel{
    position: fixed;
    margin-left: -100px;
    margin-top: -60px;
}

#pinguin{
    position: fixed;
    margin-left: 550px;
    margin-top: -100px;
}
