html{
    width: 100%;
    height: 100%;
    display: flex;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(images/bg.png);
    display: flex;
    margin: 0;
}
#wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    padding: 5%;
    background-image:url(images/wrapperbg.png);
    background-size:contain;
    background-repeat: no-repeat;
    color: black;
    height: 400px;
    width: 600px;
    font-size: 20px;    
}

h1{
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 40px;
    
    color: black;
    
}
p{
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}
#muschel1{
    
}
.SnowExampleop
  {
  position: absolute; top: -550px; opacity: .5; text-align: center;
  animation: SnowExampleSlide ease-in infinite; -webkit-animation: SnowExampleSlide ease-in infinite; -moz-animation: SnowExampleSlide ease-in infinite;
  -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; animation-fill-mode: forwards;}
  .SnowExample.animation {}
  @keyframes SnowExampleSlide {from {position: absolute; top: -300px;} to {position: absolute; top: 400px;}}
  @-webkit-keyframes SnowExampleSlide {from {position: absolute; top: -300px;} to {position: absolute; top: 400px;}}
  @-moz-keyframes SnowExampleSlide {from {position: absolute; top: -300px;} to {position: absolute; top: 400px;}}

.SnowExample
  {
  position: absolute; top: -350px; opacity: 1; text-align: center;
  animation: SnowExampleSlide ease-in infinite; -webkit-animation: SnowExampleSlide ease-in infinite; -moz-animation: SnowExampleSlide ease-in infinite;
  -webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards; animation-fill-mode: forwards;}
  .SnowExample.animation {}
  @keyframes SnowExampleSlide {from {position: absolute; top: -300px;} to {position: absolute; top: 500px;}}
  @-webkit-keyframes SnowExampleSlide {from {position: absolute; top: -300px;} to {position: absolute; top: 500px;}}
  @-moz-keyframes SnowExampleSlide {from {position: absolute; top: -300px;} to {position: absolute; top: 500px;}}